{# templates/participant/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Sortir | Mon profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-5 my-3 text-center">{{ participant.pseudo }}</h1>
		<div class="row">
			<div class="col-md-4 text-center">
				{% if participant.imageName is defined %}
					<img src="{{ asset('/images/participant/upload/' ~ participant.imageName) }}" alt="Photo de profil" width="200" height="200">
				{% else %}
					<p>Aucune photo de profil</p>
				{% endif %}
			</div>
			<div
				class="col-md-8 mx-auto" style="max-width: 600px;">

				<!-- Informations du participant -->
				<div class="form-group row mb-3">
					<label class="col-sm-12 col-md-4 col-form-label fw-bold">Prénom:
					</label>
					{{ participant.prenom }}
				</div>

				<div class="form-group row mb-3">
					<label class="col-sm-12 col-md-4 col-form-label fw-bold">Nom:
					</label>
					{{ participant.nom }}

				</div>

				<div class="form-group row mb-3">
					<label class="col-sm-12 col-md-4 col-form-label fw-bold">Téléphone:
					</label>
					{{ participant.telephone }}

				</div>

				<div class="form-group row mb-3">
					<label class="col-sm-12 col-md-4 col-form-label fw-bold">Email:
					</label>
					{{ participant.email }}
				</div>

				<div class="form-group row mb-3">
					<label class="col-sm-12 col-md-4 col-form-label fw-bold">Campus:
					</label>
					{{ participant.campus.nom }}

				</div>

				<a href="{{ path('home') }}" class="btn btn-primary" style="width: 180px">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}
