{% extends 'base.html.twig' %}

{% block title %}Sortir | Mon profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="display-5 my-3 text-center">{{ participant.pseudo }}</h1>
		<div class="row">
			<div class="col-md-4 text-center mb-3">
				{% if participant.imageName is defined %}
					<img src="{{ asset('/images/participant/upload/' ~ participant.imageName) }}" alt="Photo de profil" class="img-fluid">
				{% else %}
					<p>Aucune photo de profil</p>
				{% endif %}
			</div>
			<div
				class="col-md-8 mx-auto" style="max-width: 600px;">

				<!-- Informations du participant -->
				<div class="row mb-3">
					<div class="col-md-4 fw-bold">Prénom:</div>
					<div class="col-md-8">{{ participant.prenom }}</div>
				</div>

				<div class="row mb-3">
					<div class="col-md-4 fw-bold">Nom:</div>
					<div class="col-md-8">{{ participant.nom }}</div>
				</div>

				<div class="row mb-3">
					<div class="col-md-4 fw-bold">Téléphone:</div>
					<div class="col-md-8">{{ participant.telephone }}</div>
				</div>

				<div class="row mb-3">
					<div class="col-md-4 fw-bold">Email:</div>
					<div class="col-md-8">{{ participant.email }}</div>
				</div>

				<div class="row mb-3">
					<div class="col-md-4 fw-bold">Campus:</div>
					<div class="col-md-8">{{ participant.campus.nom }}</div>
				</div>

				<div class="row">
					<div class="col-md-12 text-center">
						<a href="{{ path('home') }}" class="btn btn-primary" style="width: 180px">Retour</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
