<nav class="navbar navbar-expand-lg">
	<div
		class="container-fluid pl-15">

		<!-- Logo et nom du site -->
		<div class="justify-content-start">
			<a class="navbar-brand" href="{{ path('sortie_liste') }}">
				<img src="{{ asset('images/imageEnTete.png') }}" height="70px" style="display: inline-block" alt="logo">
				<div class="active typewriter">
					<h1>Sortir.com</h1>
				</div>
			</a>
		</div>

		<!-- Menu des pages principales -->
		<div class="collapse navbar-collapse justify-content-end">
			<ul class="navbar-nav col-10 justify-content-end">
				{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Villes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Campus</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('sortie_liste') }}">Accueil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('participant.show') }}">Mon profil</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
