{{ form_start(form, {attr: {class: 'filter'}}) }}

<div class="container mt-3">
    <div class="row">

        <div class="col-md-4 mx-auto">
            <h4 class="mt-4">Le nom contient :</h4>
            {{ form_row(form.s) }}

            <h4 class="mt-4">Campus :</h4>
            {{ form_row(form.campus) }}

            <h4 class="mt-4">Entre :</h4>
            {{ form_row(form.dateDebut) }}

            <h4 class="mt-4">et :</h4>
            {{ form_row(form.dateFin) }}
        </div>

        <div class="col-md-4 mx-auto">
            <div class="mt-4">
                <h4>Options :</h4>
                {{ form_row(form.isOrganisateur) }}
                {{ form_row(form.isInscrit) }}
                {{ form_row(form.isNotInscrit) }}
                {{ form_row(form.isTermine) }}
            </div>
        </div>

        <div class="col-md-4 mx-auto mt-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Rechercher</button>
        </div>

    </div>
</div>

{{ form_end(form) }}